<div class="container">

<h3>Join a conversation</h3>
  <div>
    <% if @conversations.present? %>
      <% @conversations.each do |conversation| %>
      <div class="conversation-row">
        <% if @user_id.present? %>
          <%= link_to "Join", conversation_path(conversation, user_id: @user_id), class: "conversation-button btn btn-info" %>
        <% else %>
          <%= link_to "Join", conversation_path(conversation), class: "conversation-button btn btn-info" %>
        <% end %>
        <%= "Users to chat with: #{conversation.users.map(&:username).join(', ')}" %>
      </div>
      <% end %>
    <% else %>
      <div>
        You haven't been invited to any conversations yet :(
      </div>
    <% end %>
  </div>
</div>
