/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

.message {
  background-color: #7db9d1;
  padding: 5px;
  margin:10px;
  border-radius: 5px;
  overflow: visible;
  word-break: break-word;
}

.messages {
  width: 90%;
  margin: 0 auto;
}

.message-sender {
  font-weight: bold;
}

.users-table {
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 10px;
  width: 40%;
  float: left;
}

.conversation-row {
  margin: 10px;
}

.conversation-table {
  background-color: #F0F0F0;
  padding: 10px;
  margin-top: 20px;
  border: solid grey 2px;
  max-height: calc(100vh - 200px);
  overflow: auto;
  width: 70%;
}
